<div class="container">
  <h1>Edit Team, <%@user.username %></h1>
  <!--<nav class="clearfix">-->
    <a href="/home">Team Homepage</a>
    <b>
    <a href="/teams/new">Create New Team</a>
    <b>
    <a href="/logout">Logout</a>
  <!--</nav>-->
  <div id="single_team">
    <%= @team.team_name %>
  </div>
  <form action="/teams/<%= @team.id %>" method="post" id="edit_team">
    <input type="hidden" name="_method" value="patch">
