<div class="container">

    <h3>Welcome, <%=@user.username %></h3>
    <p>Please create a new team</p>

  <br>

  <form action="/teams" method="post" id="new_team">
    <label for="content">Enter Team Name: </label>
    <input type="text" name="name" id="team_name">
    <input type="submit" id="submit" id="submit" value="Enter">
    <br></br>


    <nav class="clearfix">
      <a href="/home">Team Homepage</a><br>
      <a href="/logout">Logout</a>
    </nav>
  </form>
