<div class="container">
  <h1><%= @team.team_name %></h1>

  <h3>Current Roster</h3>
  <nav class="clearfix">
    <a href="/home">Team Homepage</a>
    <br>
    <a href="/teams/new">Create New Team</a>
    <br>
    <a href="/logout">Logout</a>
  </nav>
     <br></br>
  Find Players: <a href="/players/new"><input type="submit" id="submit" value="Enter"></a>
    <br></br>
  Drop Players: <a href="/players/drop"><input type="submit" id="submit" value="Enter"></a>
