
  <h3>Player Statistics</h3>
  <br>
    <strong>Name:</strong>
    <th><%= @player.name %></th>
    <br>
    <strong>Position:</strong>
      <th><%= @player.position %></th>
  <br>
  <strong>Throws:</strong>
    <th><%= @player.throws %></th>
    <br>
    <strong>Bats:</strong>
      <th><%= @player.bats %></th>
  <br></br>



  <a href="/teams/home">Team Homepage</a>
  <br>
  <a href="/logout">Logout</a>
