
<h2>Create New Stadium</h2>

<form method="POST" action="/stadiums">
  <label><strong>Name:</strong></label><input type="text" name="stadium[name]" id="stadium_name"><br><br>
  <label><strong>Year Opened:</strong></label><input type="text" name="stadium[year_opened]" id="stadium_year_opened"><br><br>
  <label><strong>Capacity:</strong></label><input type="text" name="stadium[capacity]" id="stadium_capacity"><br><br>

  <input type="submit" value="Create New Stadium">
</form>
<!-- add content here -->

<a class="button" href="/teams">Stadiums</a>
<br>
<a class="button" href="/">Home</a>
<br>
<a href="/logout">Logout</a>
